nav.main-nav {
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
}
nav.main-nav a {
  color: #ccc;
  font-weight: 600;
}
nav.main-nav a:hover {
  color: #888;
}

h3.post-stats {
  color: #aaa;
  font-size: 11px;
  margin-top: 5px;
}

.post-link-right-arrow {
  padding-left: 5px;
}